<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Details</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <h1><%= locals.file.name %></h1>
    <h2><%= locals.file.size %> Bytes</h2>
    <h2>Type: <%= locals.file.extension %></h2>
    <h3><%= locals.file.creationDate %></h3>
    <h2>Update:</h2>
    <form action="/file/<%= locals.file.id %>/details" method="POST">
        <label for="name">file name:</label>
        <input value="<%= locals.file.name %>" type="text" name="name" id="name">
        <button type="submit">Update</button>
    </form>
    <form action="/file/<%= locals.file.id %>/delete" method="GET">
        <button type="submit" onclick="return confirm('Are you sure you want to delete the file?')">Delete</button>
    </form>
</body>
</html>