<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <h1><%= locals.user ?  title  : 'File uploader' %></h1>
    <% if (!locals.user) { %>
        <p>Please login or signup to use this service.</p>
        <p>Login <a href="/login">HERE!</a></p>
        <p>Signup <a href="/signup">HERE!</a></p>
    <% } else {%>
        <span>Welcome back <%= locals.user.firstName %></span>
        <div class="files-container">
            <% files.forEach(obj => { %>
                <% if (obj.type == "FOLDER") { %>
                    <div class="folder"><%= obj.name %></div>
                <% } else { %>
                    <div class="file"><%= obj.name %></div>
                <% } %>
            <% }) %>
        </div>
    <% } %>
</body>
</html>